*{
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

ul li a:hover{
    color: #c3d48b;
}

div img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;

}

header{
    background-color: #008d8c;
    color:white;
    padding: 10px;
    display: flex;
    align-items: center;
}
.list-itens{
    display: flex;
    width: 100%;
    max-width: 260px;
    align-items: center;
    justify-content: space-between;
}


header a {
    color:white;
}

.menu {
    justify-content: space-between;
}

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.text {
    min-height: 200px;
    color: #008d8c;
}
.text p{
    margin-top: 5px;
    margin-bottom: 20px;
}

#quemsomos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    color:#008d8c;
}

#quemsomos h2{
    font-size: 32px;
    color: #008d8c;
    display: flex;
    margin-bottom: 10px;
}

#quemsomos h2::before {
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background-color: #008d8c;
    position: relative;
}

#quemsomos img {
    min-width: 420px;
}

.container-externo {
    background-color: #008d8c;
    color: white;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding: 10px ;
}

#servicos p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #c3d48b;
}

#servicos a, .text a{
    margin-top: 15px;
    background-color: #008d8c;
    padding: 8px;
    border: solid #c3d48b;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

#servicos a:hover, .text a:hover, .botao:hover{
    background-color:  #c3d48b;
    border: solid #00807a;
    color:#008d8c;
}

#servicos h2 {
    font-size: 32px;
    margin-top: 10px;
}

.list-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px;
}

.item {
    text-align: center;
    margin: 20px;
}

.item img {
    width: 80%;
    margin:auto;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
}

#planos h2 {
    font-size: 32px;
    color: #00807a;
    margin-top: 1em;
    margin-bottom: 1em;
}

.listas-planos {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    
}

.plano {
    flex:1;
    border: 5px solid #c3d48b;
    margin-right: 20px;
    padding: 10px;
    color: #c3d48b;
    background-color: #00807a;
    justify-content: space-around;
}



.plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.plano h3::after {
    content: "";
    background-color: #c3d48b;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.plano ul {
    padding: 10px 20px;
    display:flex;
    flex-direction: column;
}

.plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #c3d48b;
    margin-right: 8px;
}

.botao {
    display: flex;
    justify-content: center;
    width: 70px;
    margin-top: 15px;
    background-color: #008d8c;
    padding: 7px;
    border: solid #c3d48b;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #00807a;
    color: #c3d48b;
    padding: 2em;
}

@media(max-width: 992px){
    .flex-container {
        flex-direction: column-reverse;    
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

    .text {
        margin: auto ;
    }


    div img {
        margin-top: 50px;
    }
    #quemsomos {
        flex-direction: column;
    }

    #quemsomos img {
        min-width: 320px;
        margin: auto;
    }

    .list-servicos {
        flex-direction: column-reverse;
    }

    .item img {
        width: 50%;
        margin: 20px auto;
    }

    .listas-planos {
        flex-direction: column;
        align-items: flex-start;
    }

    .listas-planos .plano {
        max-width: 90%;
        margin: 5px auto;
        width: 100%;
    }

    .botao {
        margin: auto;
    }

    footer {
        justify-content: space-around;
        text-align: center;
    }
}